<div class="card input-card my-3">
  <div class="card-header d-flex flex-row justify-content-between">
    <h2>
     <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    <span class="post-info-text">Posted by {{post.user.username}} on {{format_date post.date_created}}</span>
  </div>
  <div class="card-body">
    <p class="card-text">{{post.content}}</p>
  </div>
</div>

{{!-- *BUG: THIS IF BLOCK IS NOT RENDERING WHY maybe if syntax is wrong??--}}
{{!-- {{#if comments}}
  <p>comments</p>
{{/if}}
{{#if comment}}
  <p>dit</p>
{{/if}} --}}
{{#if comments}}
<div class="card input-card my-3">
  <div class="card-header d-flex flex-row justify-content-between">
    <h3>Comments</h3>
  </div>
  <div class="card-body">
    {{#each comments as |comment|}}
    <p class="card-text">
      {{content}}
    </p>
    <p class="card-text">
      &mdash; {{user.username}}, 
      {{!-- {{format_date date_created}} --}}
    </p>
    {{/each}}
  </div>
</div>
{{/if}}

<div class="card input-card my-3">
  <div class="card-header d-flex flex-row justify-content-between">
    <h3>Add New Comment</h3>
  </div>
  <div>
    <form class="card-body" id="new-comment-form">
      <input type="hidden" name="post-id" value="{{post.id}}" />

      <div class="mb-3">
        <label for="comment-input" class="form-label">Comment</label>
        <textarea class="form-control" name="comment-input"></textarea>
      </div>

      <div class="d-grid gap-2">
        <button class="btn" type="submit" id="login-btn">Submit</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/comment.js"></script>
